<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Chat</title>
</head>
<body>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="username_input" placeholder="Username" autocomplete="off" />
        <input id="message_input" placeholder="Type your message..." autocomplete="off" />
        <button>Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('message', function(data) {
                $('#messages').append('<li><strong>' + data.username + ':</strong> ' + data.message + '</li>');
            });

            $('form').submit(function(event){
                event.preventDefault();
                var username = $('#username_input').val();
                var message = $('#message_input').val();
                socket.emit('message', {'username': username, 'message': message});
                $('#message_input').val('');
            });
        });
    </script>
</body>
</html>
